In [1]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(host='172.16.34.1', port='3307',
                            user='umls', password='umls', database='umls2022')
cur = cnx.cursor()

In [3]:
string_example = "%COVID-19%"
cur.execute("select CUI from MRCONSO where STR like '%s'" % string_example)  #select CUI
#cur.execute("select * from MRCONSO where STR like '%COVID-19%'")
query_result = cur.fetchall()
#query_result = cur.fetchone()
col_names = [ col[0] for col in cur.description]
#pprint.pprint(col_names)
#pprint.pprint(query_result)
#print(list(list(zip(*query_result))[0])[0])
list(query_result)[0]

('C5203671',)

In [72]:
given_CUI = "C0004238"
#CUI1 -> PAR CUI2: CUI1 is children, CUI2 is parent

#     SELECT b.*
#     FROM MRREL a JOIN MRREL b ON a.CUI2 = b.CUI1
#     WHERE a.CUI1='C0004238' AND a.REL ='PAR' AND b.REL ='CHD'
# UNION
#     SELECT *
#     FROM MRREL
#     WHERE CUI1='C0004238' AND REL ='PAR';

cur.execute("SELECT b.CUI2 FROM MRREL a JOIN MRREL b ON a.CUI2 = b.CUI1 WHERE a.CUI1='C0004238' AND a.REL ='PAR' AND b.REL ='CHD' UNION SELECT CUI2 FROM MRREL WHERE CUI1='C0004238' AND REL ='PAR'")
query_result = cur.fetchall()
col_names = [ col[0] for col in cur.description]
print(len(list(list(zip(*query_result))[0])))

1272

In [ ]:
#cur.execute(

# with recursive cui_cycle as
#     (
#         select CUI1, REL, CUI2, 1 as level
#         from MRREL where CUI1='C0009324'
#         union
#         select T.CUI1, T.REL, T.CUI2, C.level+1 as level
#         from cui_cycle C
#         join MRREL T on C.CUI1 = T.CUI2 #如何同时判断是PAR还是CHD，而不是只判断一个
#     )
# select * from cui_cycle;

In [2]:
cur.execute("select CUI2 from MRREL where CUI1='C0600526' and REL='PAR'")  
query_PAR_result = cur.fetchall()

ls_PAR_result = list(list(zip(*query_PAR_result))[0])
print(ls_PAR_result)
print(ls_PAR_result[0])

['C0360105', 'C0074393', 'C0162758', 'C0074393', 'C0162758', 'C2267101', 'C0360105', 'C1320237', 'C1320237', 'C0360105', 'C4324235', 'C4324235', 'C1289934', 'C0003289', 'C1289934', 'C0074393', 'C0003289', 'C0074393', 'C0074393', 'C0074393', 'C0003289']
C0360105

In [ ]:
#given_cui = "C0600526"
initial_cui = "C1140168"
def find_cycle(given_cui):
    result=[]
    counter = 0
    try:
        cur.execute("select CUI2 from MRREL where CUI1='%s' and REL='PAR'" % given_cui)  
        query_PAR_result = cur.fetchall()
        ls_PAR_result = list(list(zip(*query_PAR_result))[0])
        result.append(given_cui)
        #if counter>=3 and counter<41 and result[-1]==result[0]:
        #    print(*result)
            #for e in range(len(result)):
            #    print resultt[e]
        #else:
        for par_cui in ls_PAR_result:
            if counter>=3 and counter<41 and par_cui==result[0]:
                print(*result)
            else:
                find_cycle(par_cui)
                counter+=1
    except:
        cur.execute("select CUI2 from MRREL where CUI1='%s' and REL='CHD'" % given_cui)  
        query_CHD_result = cur.fetchall()
        ls_CHD_result = list(list(zip(*query_CHD_result))[0])
        result.append(given_cui)
        #if counter>=3 and counter<41 and result[-1]==result[0]:
        #    print(*result)
            #for e in range(len(result)):
            #    print result[e]
        #else:
        for chd_cui in ls_CHD_result:
            if counter>=3 and counter<41 and chd_cui==result[0]:
                print(*result)
            else:
                find_cycle(chd_cui)
                counter+=1
        
find_cycle(initial_cui)

In [1]:
initial_cui = "C1140168"
def exe_sql(given_cui):
    cur.execute("select CUI2 from MRREL where CUI1='%s' and REL='PAR' " % given_cui)  
    query_result = cur.fetchall()
    ls_result = list(list(zip(*query_result))[0])
    return ls_result[0]
exe_sql(initial_cui)

NameError: name 'cur' is not defined

In [5]:
cur.execute("select CUI1 from MRREL")
initial_query_result = cur.fetchall()
initial_ls_result = list(list(zip(*initial_query_result))[0])
print(len(initial_ls_result))

for i in initial_ls_result:
    exe_sql(i)

34998454

In [14]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(host='172.16.34.1', port='3307',
                            user='umls', password='umls', database='umls2022')
cur = cnx.cursor()

In [5]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(host='172.16.34.1', port='3307',
                            user='umls', password='umls', database='umls2022')
cur = cnx.cursor()


initial_ls_result = ["C1140168","C1140168","C1140168","C1140168"]
file = open("1.txt", "w")

global counter 
result = []


def find_cycle(given_cui): 
    counter = 0
    cur.execute("select CUI2 from MRREL where CUI1='%s' and REL='PAR'" % given_cui)  
    query_result = cur.fetchall()
    ls_result = [*set(list(list(zip(*query_result))[0]))]
    result.append(given_cui)
    if counter>3:
        return
    for cui in ls_result:
        if cui in result:
            if len(result)>=4 and len(result)<40:
                for i in range(0, len(result)):    
                    file.write(str(result[i]) + ' ')
                file.write(str(cui))   
                file.write("\n")
                counter+=1
                print(counter)
                return
        else:
            find_cycle(cui)
    result.clear()
    
    #print(list(zip(*query_result))[0])
    
for item in initial_ls_result:
    find_cycle(item)


file.close()
cnx.close()

1
1
1
1

In [2]:
ls_query_result=[]
a = (query_result[0][2]).split('"')
for i in range(1,len(a),2)
    ls_query_result.append(a[i])
    
if len(ls_query_result)>=3 and len(ls_query_result)<41:
    file.write(",".join(str(cui) for cui in ls_query_result))
    file.write(str(ls_query_result[1]))   
    file.write("\n")
    counter+=1
    
file.close()
cnx.close()

SyntaxError: invalid syntax (1692513701.py, line 3)

In [ ]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(host='172.16.34.1', port='3307',
                            user='umls', password='umls', database='umls2022')
cur = cnx.cursor()

cur.execute("select CUI1 from MRREL where REL='PAR'")
initial_query_result = cur.fetchall()
initial_ls_result = list(list(zip(*initial_query_result))[0])
#print([*set(initial_ls_result[:10])])
#print(initial_ls_result[:10])

global counter 
counter=0
result=[]
file=open("1.txt", "w")
#for item in initial_ls_result:
cur.execute("""with recursive RESULTS(CUI1, CUI2, REL, Level, Circle, IfCircle)as(
select C.CUI1, C.CUI2, C.REL, 0 AS Levels, JSON_ARRAY(C.CUI1), 0 as IfCircle
from MRREL as C
where C.REL='PAR' and C.CUI1 ='C1140168'
union all
select E.CUI1, E.CUI2, E.REL, T.Level + 1, JSON_ARRAY_APPEND(T.Circle, '$', E.CUI1),
        IF((E.CUI2 member of (T.Circle)), 1, 0)
from RESULTS as T join MRREL as E
on T.CUI2 = E.CUI1  and E.REL = 'PAR'
where T.IfCircle = 0 and E.CUI1 != E.CUI2)
select CUI1, CUI2, Circle, Level, JSON_SEARCH(Circle, 'all', CUI2) from RESULTS where IfCircle = 1;""")#% i)  
query_result = cur.fetchall()
if query_result!= None:
    ls_query_result=[]
    a = (query_result[0][2]).split('"')
    for i in range(1,len(a),2):
        ls_query_result.append(a[i])
    
    if len(ls_query_result)>=3 and len(ls_query_result)<41:
        file.write(",".join(str(cui) for cui in ls_query_result)+",")
        file.write(str(ls_query_result[0]))   
        file.write("\n")
        counter+=1
    
file.close()
cnx.close()

In [10]:
query_result

[('C1254372',
  'C1140168',
  '["C1140168", "C1512759", "C1512762", "C1254372"]',
  3,
  '"$[0]"')]

In [95]:
temp = (query_result[0][2]).split('"')
temp

['[', 'C1140168', ', ', 'C1512759', ', ', 'C1512762', ', ', 'C1254372', ']']

In [8]:
path = [] #the path contains the circle 
temp = (query_result[0][2]).split('"')
for i in range(1, len(temp), 2):
    path.append(temp[i])
path

['C1140168', 'C1512759', 'C1512762', 'C1254372']

In [ ]:
if len(ls_query_result)>=3 and len(ls_query_result)<41:
    file.write(",".join(str(cui) for cui in ls_query_result))
    file.write(str(ls_query_result[1]))   
    file.write("\n")
    counter+=1
    
file.close()
cnx.close()

In [15]:
def fun_call(number, ls):
    global count
    if count >= 3:
        return
    query = f"SELECT CUI2 from MRREL where CUI1 = '{number}' and REL = 'PAR';"
    cur.execute(query)
    one = cur.fetchall()
    lx = []
    lx = ls
    if len(one) < 1:
        return
    ls.append(number)
    for a in one:
        if a[0] in ls: # if this number exist in the loop
            index = ls.index(a[0])  # find the index from the list
            lenx = len(ls) - index  # check how long the index to the last one
            if lenx <= 3:       # if this smaller than 3, should not do anything
                return

            for i in range(index, index + lenx):    #print out the list for ls [ ... i ....x] from i to x
                file.write(str(ls[i]) + ' ')
            file.write(str(a[0]))   # add the last one back.
            file.write("\n")
            count += 1
            return
        else:   #if not in the list, then add this number and go next

            fun_call(a[0], ls)

    return

if __name__ == "__main__":
    y = "C0600526"
    query = f"SELECT * from MRREL where CUI1 ='{y}' and REL = 'PAR' "
    cur.execute(query)
    one = cur.fetchall()
    rd = 1
    #
    for a in one:
        ls = []
        fun_call(a[4], ls)

    file.close()

In [26]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(user='umls', password='umls', host='172.16.34.1', port='3307', database='umls2022')
cur = cnx.cursor()

file = open("outputlist2.txt", "a+")
count = 0


def fun_call(number, ls):
    global count
    if count >= 3:
        return

    query = f"SELECT * from MRREL where CUI1 = '{number}' and REL = 'PAR'"
    cur.execute(query)
    one = cur.fetchall()
    ls.append(number)
    for a in one:
        if len(a[4]) < 5:
            return
        if a[4] in ls:
            index = ls.index(a[4])
            if (len(ls) - index) <= 5:
                return
            for i in range(index, len(ls)):
                file.write(str(ls[i]) + ' ')
            file.write(str(a[4]))
            file.write("\n")
            count += 1
            return
        if len(a[4]) > 5:
            fun_call(a[4], ls)
    return


#y = "C0600526"
#query = f"SELECT * from MRREL where CUI1 ='{y}' and REL = 'PAR' "
#cur.execute(query)
#one = cur.fetchall()
#rd = 1
#
#for a in one:
#    ls = []
#    fun_call(a[4], ls)
cur.execute("select CUI1 from MRREL")
initial_query_result = cur.fetchall()
initial_ls_result = list(list(zip(*initial_query_result))[0])
#print(len(initial_ls_result))

for i in initial_ls_result:
    ls = []
    fun_call(i, ls)
file.close()

In [10]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(user='umls', password='umls', host='172.16.34.1', port='3307', database='umls2022')
cur = cnx.cursor()

global count
count = 0
def fun_call(number, ls):
    global count
    if count >3:
        return
    # if len(ls) >= 40:
    #     return
    if len(ls) == 0:
        query = f"""SELECT CUI2 from MRREL where CUI1 = '{number}' and REL='PAR' and CUI1 != CUI2;"""
        cur.execute(query)
        one = cur.fetchall()

        for a in one:ni
            k = ls.copy()
            k.append(number)
            fun_call(a[0],k)
        return
    else:
        query = f"""SELECT CUI2,REL from MRREL where CUI1 = '{ls[-1]}' and CUI2 = '{number}'and CUI1 != CUI2 and REL='PAR'"""
        cur.execute(query)
        one = cur.fetchall()
        if len(one)<1:
            return

            
        query = f"""SELECT CUI2 from MRREL where CUI1 = '{number}' and CUI1 != CUI2 and REL='PAR'"""
        cur.execute(query)
        one = cur.fetchall()
        if len(one) < 1:
            return
        for a in one:
            if (a[0] in ls):
                index = ls.index(a[0])
                size = len(ls) - index
                if size <= 3 or size >=40:
                    return
                file = open(f"{a[0]}.txt","w")
                count += 1
                for i in range(index,len(ls)):
                    file.write(ls[i]+"\n")

                file.write(number + "\n")
                file.write(a[0])
                file.close()
                return
            else:
这个copy总要，明白了预防重复
                k = ls.copy()

                k.append(number)
                fun_call(a[0], k)
    return

if __name__ == "__main__":

    query = """select a.CUI1, count(a.CUI1) 
    from (select * from MRREL where REL = 'PAR' limit 1000000) as a 
    where a.REl = 'PAR' 
    Group by a.CUI1 order by count(a.CUI1) desc;"""
    #找出PAR最多的几个

    cur.execute(query)
    res = cur.fetchall()
    ls = []
    for i in res[:10]: #我选了10个， 可以更多。
        fun_call(i[0],ls)

In [13]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(user='umls', password='umls', host='172.16.34.1', port='3307', database='umls2022')
cur = cnx.cursor()
query = """SELECT CUI2 from MRREL where CUI1 = 'C0977900' and REL='PAR' and CUI1 != CUI2;"""
cur.execute(query)
one = cur.fetchall()
len(one) 我不明白为什么len都一样 为什么我的就有问题

98

In [ ]:
import mysql.connector
import pprint

cnx = mysql.connector.connect(host='172.16.34.1', port='3307',
                              user='umls', password='umls', database='umls2022')
cur = cnx.cursor()

global counter
counter = 0
result = []


def find_cycle(given_cui):

    global counter
    if counter > 3 or len(given_cui) > 40:
        return

    if len(given_cui) <= 1:
        cur.execute("select CUI2 from MRREL where CUI1='%s' and REL='PAR' and CUI1!=CUI2" % given_cui[-1])
        query_result = cur.fetchall()
        # ls_result = list(list(zip(*query_result))[0])
        for cui in query_result:
            x = given_cui.copy()
            x.append(cui[0])
            find_cycle(x)
        return

    else:
        cur.execute("select CUI1, CUI2, REL from MRREL where CUI1='%s' and CUI2='%s' and CUI1!=CUI2 and REL='PAR' group by CUI1, CUI2, REL"%(given_cui[-2],given_cui[-1]))
        query_result = cur.fetchall()
        if len(query_result) < 1:
            return

        cur.execute("select CUI2 from MRREL where CUI1='%s' and REL='PAR' and CUI1!=CUI2 group by CUI2" % given_cui[-1])
        query_result = cur.fetchall()
        if len(query_result) < 1:
            return
        
        for cui in query_result:
            if (cui[0] in given_cui):
                if (len(given_cui)-given_cui.index(cui[0]))> 4 and len(given_cui) < 40:
                    counter += 1
                    file = open(f"{cui[0]}.txt", "w")
                    for i in range(given_cui.index(cui[0]), len(given_cui)):
                        file.write(str(given_cui[i]) + ',')
                    file.write(str(cui[0]))
                    file.write("\n")
                    file.close()

                    return
            else:
                x = given_cui.copy()
                x.append(cui[0])

                find_cycle(x)



if __name__ == "__main__":
    cur.execute("""select CUI1, count(CUI1)
                from (select * from MRREL where REL = 'PAR' limit 1000000) as H
                where REL='PAR'
                group by CUI1
                order by count(CUI1) desc;""")
    test_query_result = cur.fetchall()
    for i in test_query_result[:10]:
        res = []
        res.append(i[0])
        find_cycle(res)